---
import CaierSpaceLogo from '@svg/projects/CaierSpace.astro';
import HemsLogo from '@svg/projects/Hems.astro';
import SmartHomeLogo from '@svg/projects/SmartHome.astro';
import ReactLogo from '@svg/projects/React.astro';
import NodeJSLogo from '@svg/projects/NodeJS.astro';
import ArrowRight from '@svg/Symbols/ArrowRight.astro';

const projects = [
  //
  // CaierSpace
  //
  {
    title: 'CaierSpace.com',
    subtitle: 'Website',
    href: 'https://caierspace.com',
    description: `I designed and developed a website for a therapist to showcase their services and make it easy for potential clients to schedule appointments and get in touch. The website features a calming colour scheme, straightforward navigation, and engaging content that reflects the therapist's compassionate and supportive approach to mental health care. It also incorporates the latest web design trends and technologies to ensure a seamless user experience on desktop and mobile devices. The website is user-friendly and reflects the therapist's unique brand and personality.`,
    Logo: {
      Svg: CaierSpaceLogo,
    },
    image: {
      alt: 'CaierSpace Landing Page Project Showcase',
      scr: './CaierSpace/CaierSpace@1x.png',
      height: '408',
      width: '700',
      source: [
        {
          srcset:
            './CaierSpace/CaierSpace-mobile@2x.avif 2x, ./CaierSpace/CaierSpace-mobile@1x.avif',
          type: 'image/avif',
          media: '(max-width: 500px)',
        },
        {
          srcset:
            './CaierSpace/CaierSpace-mobile@2x.webp 2x, ./CaierSpace/CaierSpace-mobile@1x.webp',
          type: 'image/webp',
          media: '(max-width: 500px)',
        },
        {
          srcset:
            './CaierSpace/CaierSpace-mobile@2x.png 2x, ./CaierSpace/CaierSpace-mobile@1x.png',
          type: 'image/png',
          media: '(max-width: 500px)',
        },
        {
          srcset:
            './CaierSpace/CaierSpace@2x.avif 2x, ./CaierSpace/CaierSpace@1x.avif',
          type: 'image/avif',
          media: '',
        },
        {
          srcset:
            './CaierSpace/CaierSpace@2x.webp 2x, ./CaierSpace/CaierSpace@1x.webp',
          type: 'image/webp',
          media: '',
        },
        {
          srcset: './CaierSpace/CaierSpace@2x.png 2x',
          type: 'image/png',
          media: '',
        },
      ],
    },
  },
  //
  // Hems
  //
  {
    title: 'Home Energy Management System',
    subtitle: 'Publication',
    href: 'https://ieeexplore.ieee.org/document/9959793',
    description: `I built a practical solution for managing home energy. 
    The system lets you remotely control your devices, monitor your power consumption, 
    monitor solar production and performance, and even forecast the future behaviour 
    of equipment and energy indicators, making it an efficient and effective solution 
    for managing energy usage in the home. It's easy to use and integrates open-source 
    software for added flexibility.`,
    Logo: {
      Svg: HemsLogo,
    },
    image: {
      alt: 'HEMS Publication Showcase',
      scr: './Hems/Hems@1x.png',
      height: '408',
      width: '700',
      source: [
        {
          srcset: './Hems/Hems-mobile@2x.avif 2x, ./Hems/Hems-mobile@1x.avif',
          type: 'image/avif',
          media: '(max-width: 500px)',
        },
        {
          srcset: './Hems/Hems-mobile@2x.webp 2x, ./Hems/Hems-mobile@1x.webp',
          type: 'image/webp',
          media: '(max-width: 500px)',
        },
        {
          srcset: './Hems/Hems-mobile@2x.png 2x, ./Hems/Hems-mobile@1x.png',
          type: 'image/png',
          media: '(max-width: 500px)',
        },
        {
          srcset: './Hems/Hems@2x.avif 2x, ./Hems/Hems@1x.avif',
          type: 'image/avif',
          media: '',
        },
        {
          srcset: './Hems/Hems@2x.webp 2x, ./Hems/Hems@1x.webp',
          type: 'image/webp',
          media: '',
        },
        {
          srcset: './Hems/Hems@2x.png 2x',
          type: 'image/png',
          media: '',
        },
      ],
    },
  },
  //
  // SmartHome
  //
  {
    title: 'Smart Home, Raspberry Pi, Microcontrollers, MQTT',
    subTitle: 'Bachelor Degree',
    href: 'https://www.youtube.com/watch?v=MpF0Z2glEeM',
    description: `I developed a home monitoring and control system through a web page 
    using accessible sensors and actuators, microcontrollers (programmed in C++), and 
    command and control elements with data acquisition (SQL language) integrated through 
    LAN networks. The process parameters are incorporated into an intelligent monitoring 
    and control system using the Node-Red programming graphical interface.`,
    Logo: {
      Svg: SmartHomeLogo,
    },
    image: {
      alt: 'SmartHome Project Showcase',
      scr: './SmartHome/SmartHome@1x.png',
      height: '408',
      width: '700',
      source: [
        {
          srcset:
            './SmartHome/SmartHome-mobile@2x.avif 2x, ./SmartHome/SmartHome-mobile@1x.avif',
          type: 'image/avif',
          media: '(max-width: 500px)',
        },
        {
          srcset:
            './SmartHome/SmartHome-mobile@2x.webp 2x, ./SmartHome/SmartHome-mobile@1x.webp',
          type: 'image/webp',
          media: '(max-width: 500px)',
        },
        {
          srcset:
            './SmartHome/SmartHome-mobile@2x.png 2x, ./SmartHome/SmartHome-mobile@1x.png',
          type: 'image/png',
          media: '(max-width: 500px)',
        },
        {
          srcset:
            './SmartHome/SmartHome@2x.avif 2x, ./SmartHome/SmartHome@1x.avif',
          type: 'image/avif',
          media: '',
        },
        {
          srcset:
            './SmartHome/SmartHome@2x.webp 2x, ./SmartHome/SmartHome@1x.webp',
          type: 'image/webp',
          media: '',
        },
        {
          srcset: './SmartHome/SmartHome@2x.png 2x',
          type: 'image/png',
          media: '',
        },
      ],
    },
  },
  //
  // React
  //
  {
    title: 'React',
    subtitle: 'Collection',
    href: 'https://github.com/catalinpetrovici24/React_Projects/tree/main/Medium%20Projects',
    description: `I have created a repository containing multiple React apps that showcase my skills 
    and expertise in building dynamic and responsive web applications. From simple to complex UI 
    components and interactive user experiences, these projects demonstrate my ability to develop 
    various use cases, even challenging apps. Whether you're a potential employer or a fellow developer, 
    I invite you to check out my repo and see what I can do with React!`,
    Logo: {
      Svg: ReactLogo,
    },
    image: {
      alt: 'React Projects Showcase',
      scr: './React/React@1x.png',
      height: '408',
      width: '700',
      source: [
        {
          srcset:
            './React/React-mobile@2x.avif 2x, ./React/React-mobile@1x.avif',
          type: 'image/avif',
          media: '(max-width: 500px)',
        },
        {
          srcset:
            './React/React-mobile@2x.webp 2x, ./React/React-mobile@1x.webp',
          type: 'image/webp',
          media: '(max-width: 500px)',
        },
        {
          srcset: './React/React-mobile@2x.png 2x, ./React/React-mobile@1x.png',
          type: 'image/png',
          media: '(max-width: 500px)',
        },
        {
          srcset: './React/React@2x.avif 2x, ./React/React@1x.avif',
          type: 'image/avif',
          media: '',
        },
        {
          srcset: './React/React@2x.webp 2x, ./React/React@1x.webp',
          type: 'image/webp',
          media: '',
        },
        {
          srcset: './React/React@2x.png 2x',
          type: 'image/png',
          media: '',
        },
      ],
    },
  },
  //
  // NodeJS
  //
  // {
  //   title: 'NodeJS',
  //   subtitle: 'Collection',
  //   href: 'https://github.com/catalinpetrovici24/NodeJS_Projects',
  //   description: `Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
  //   Aenean commodo ligula eget dolor. Aenean massa. 
  //   Cum sociis natoque penatibus et magnis dis parturient montes, 
  //   nascetur ridiculus mus. Donec quam felis, ultricies nec, 
  //   pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.`,
  //   Logo: {
  //     Svg: NodeJSLogo,
  //   },
  //   image: {
  //     // alt: 'NodeJS Projects Showcase',
  //     // scr: './NodeJS/NodeJS@1x.png',
  //     // height: '408',
  //     // width: '700',
  //     source: [
  //       // {
  //       //   srcset: './NodeJS/NodeJS-mobile@2x.avif 2x, ./NodeJS/NodeJS-mobile@1x.avif',
  //       //   type: 'image/avif',
  //       //   media: '(max-width: 500px)',
  //       // },
  //       // {
  //       //   srcset: './NodeJS/NodeJS-mobile@2x.webp 2x, ./NodeJS/NodeJS-mobile@1x.webp',
  //       //   type: 'image/webp',
  //       //   media: '(max-width: 500px)',
  //       // },
  //       // {
  //       //   srcset: './NodeJS/NodeJS-mobile@2x.png 2x, ./NodeJS/NodeJS-mobile@1x.png',
  //       //   type: 'image/png',
  //       //   media: '(max-width: 500px)',
  //       // },
  //       // {
  //       //   srcset: './NodeJS/NodeJS@2x.avif 2x, ./NodeJS/NodeJS@1x.avif',
  //       //   type: 'image/avif',
  //       //   media: '',
  //       // },
  //       // {
  //       //   srcset: './NodeJS/NodeJS@2x.webp 2x, ./NodeJS/NodeJS@1x.webp',
  //       //   type: 'image/webp',
  //       //   media: '',
  //       // },
  //       // {
  //       //   srcset: './NodeJS/NodeJS@2x.png 2x',
  //       //   type: 'image/png',
  //       //   media: '',
  //       // },
  //     ],
  //   },
  // },
];
---

<section id='projects' class='mt-28'>
  <h2>Projects</h2>
  {
    projects.map((item) => {
      const { title, subtitle, href, description, Logo, image } = item;
      return (
        <article class='project'>
          <div class='description'>
            <div class='project-heading'>
              <Logo.Svg />
              <div class='ml-8'>
                <span class='subtitle text-fontLightGray2 dark:text-fontDarkGray4'>
                  {subtitle}
                </span>
                <h3>{title}</h3>
              </div>
            </div>
            <p class='text-fontLightGray2 dark:text-fontDarkGray3'>
              {description}
            </p>
            <a href={href} class='hover:text-btnLight dark:hover:text-btnDark'>
              <ArrowRight/>
              View Project
            </a>
          </div>
          {image.source.length ? (
            <picture slot='image-showcase'>
              {image.source.map((imageItem) => {
                if (!imageItem) return;

                return (
                  <source
                    srcset={imageItem.srcset}
                    media={imageItem.media}
                    type={imageItem.type}
                  />
                );
              })}
              <img
                width={image.width}
                height={image.height}
                src={image.scr}
                alt={image.alt}
                loading='lazy'
              />
            </picture>
          ) : (
            ''
          )}
        </article>
      );
    })
  }
</section>

<style>
  h2 {
    font-size: clamp(2.5rem, 4vw, 3.5rem);
    font-weight: 600;
  }

  img {
    width: 100%;
    max-width: 70rem;
  }

  .logo {
    max-width: 5rem;
    max-height: 5rem;
  }

  .project {
    margin-top: 4rem;
  }

  h3 {
    font-size: clamp(2rem, 4vw, 2.4rem);
    font-weight: 600;
  }

  .project-heading {
    display: flex;
    align-items: flex-end;
  }

  .subtitle {
    font-size: clamp(1.4rem, 2.5vw, 1.8rem);
  }

  p {
    max-width: 75ch;
    margin-top: 2rem;
    font-size: clamp(1.4rem, 2.5vw, 2rem);
  }

  a {
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    display: flex;
    align-content: center;
    align-items: center;
    font-size: clamp(1.8rem, 2.5vw, 2rem);
    font-weight: 900;
    transition: all 200ms ease-in-out;
  }

  a svg {
    margin-right: 2rem;
  }

  @media only screen and (min-width: 1200px) {
    .project {
      display: flex;
      gap: 5rem;
      margin-top: 10rem;
    }

    .project:nth-child(odd) .description {
      order: 1;
    }
  }
</style>
