---
import CaierSpaceLogo from '../components/projectsLogos/CaierSpace.astro';
import HemsLogo from '../components/projectsLogos/Hems.astro';
import SmartHomeLogo from '../components/projectsLogos/SmartHome.astro';
import ReactLogo from '../components/projectsLogos/React.astro';
import NodeJSLogo from '../components/projectsLogos/NodeJS.astro';

const projects = [
  //
  // CaierSpace
  //
  {
    title: 'CaierSpace.com',
    subtitle: 'Website',
    href: 'https://caierspace.com',
    description: `I designed and developed the simplest accounting tool for freelancers. 
      From proposal to payment, Incomee is the easiest tool to run your 
      freelance business seamlessly ✌️`,
    logo: {
      svg: CaierSpaceLogo,
    },
    image: {
      alt: 'CaierSpace Landing Page Project Showcase',
      scr: './CaierSpace/CaierSpace@1x.png',
      height: '408',
      width: '700',
      source: [
        {
          srcset:
            './CaierSpace/CaierSpace-mobile@2x.avif 2x, ./CaierSpace/CaierSpace-mobile@1x.avif',
          type: 'image/avif',
          media: '(max-width: 500px)',
        },
        {
          srcset:
            './CaierSpace/CaierSpace-mobile@2x.webp 2x, ./CaierSpace/CaierSpace-mobile@1x.webp',
          type: 'image/webp',
          media: '(max-width: 500px)',
        },
        {
          srcset:
            './CaierSpace/CaierSpace-mobile@2x.png 2x, ./CaierSpace/CaierSpace-mobile@1x.png',
          type: 'image/png',
          media: '(max-width: 500px)',
        },
        {
          srcset:
            './CaierSpace/CaierSpace@2x.avif 2x, ./CaierSpace/CaierSpace@1x.avif',
          type: 'image/avif',
          media: '',
        },
        {
          srcset:
            './CaierSpace/CaierSpace@2x.webp 2x, ./CaierSpace/CaierSpace@1x.webp',
          type: 'image/webp',
          media: '',
        },
        {
          srcset: './CaierSpace/CaierSpace@2x.png 2x',
          type: 'image/png',
          media: '',
        },
      ],
    },
  },
  //
  // Hems
  //
  {
    title: 'Home Energy Management System',
    subtitle: 'Publication',
    href: 'https://ieeexplore.ieee.org/document/9959793',
    description: `Researching, analysing data, and testing different solutions was part 
      of my work with amazing and skilled people to improve the platform's user interface 
      and user experience. Also, I worked closely with the mobile engineers to create a 
      Mobile Pattern Library to improve the quality of the mobile products and to save 
      time during implementation.`,
    logo: {
      svg: HemsLogo,
    },
    image: {
      alt: 'HEMS Publication Showcase',
      scr: './Hems/Hems@1x.png',
      height: '408',
      width: '700',
      source: [
        {
          srcset: './Hems/Hems-mobile@2x.avif 2x, ./Hems/Hems-mobile@1x.avif',
          type: 'image/avif',
          media: '(max-width: 500px)',
        },
        {
          srcset: './Hems/Hems-mobile@2x.webp 2x, ./Hems/Hems-mobile@1x.webp',
          type: 'image/webp',
          media: '(max-width: 500px)',
        },
        {
          srcset: './Hems/Hems-mobile@2x.png 2x, ./Hems/Hems-mobile@1x.png',
          type: 'image/png',
          media: '(max-width: 500px)',
        },
        {
          srcset: './Hems/Hems@2x.avif 2x, ./Hems/Hems@1x.avif',
          type: 'image/avif',
          media: '',
        },
        {
          srcset: './Hems/Hems@2x.webp 2x, ./Hems/Hems@1x.webp',
          type: 'image/webp',
          media: '',
        },
        {
          srcset: './Hems/Hems@2x.png 2x',
          type: 'image/png',
          media: '',
        },
      ],
    },
  },
  //
  // SmartHome
  //
  {
    title: 'Smart Home, Raspberry Pi, Microcontrollers, MQTT',
    subTitle: 'Bachelor Degree',
    href: 'https://www.youtube.com/watch?v=MpF0Z2glEeM',
    description: `Researching, analysing data, and testing different solutions was part 
      of my work with amazing and skilled people to improve the platform's user interface 
      and user experience. Also, I worked closely with the mobile engineers to create a 
      Mobile Pattern Library to improve the quality of the mobile products and to save 
      time during implementation.`,
    logo: {
      svg: SmartHomeLogo,
    },
    image: {
      alt: 'SmartHome Project Showcase',
      scr: './SmartHome/SmartHome@1x.png',
      height: '408',
      width: '700',
      source: [
        {
          srcset:
            './SmartHome/SmartHome-mobile@2x.avif 2x, ./SmartHome/SmartHome-mobile@1x.avif',
          type: 'image/avif',
          media: '(max-width: 500px)',
        },
        {
          srcset:
            './SmartHome/SmartHome-mobile@2x.webp 2x, ./SmartHome/SmartHome-mobile@1x.webp',
          type: 'image/webp',
          media: '(max-width: 500px)',
        },
        {
          srcset:
            './SmartHome/SmartHome-mobile@2x.png 2x, ./SmartHome/SmartHome-mobile@1x.png',
          type: 'image/png',
          media: '(max-width: 500px)',
        },
        {
          srcset:
            './SmartHome/SmartHome@2x.avif 2x, ./SmartHome/SmartHome@1x.avif',
          type: 'image/avif',
          media: '',
        },
        {
          srcset:
            './SmartHome/SmartHome@2x.webp 2x, ./SmartHome/SmartHome@1x.webp',
          type: 'image/webp',
          media: '',
        },
        {
          srcset: './SmartHome/SmartHome@2x.png 2x',
          type: 'image/png',
          media: '',
        },
      ],
    },
  },
  //
  // React
  //
  {
    title: 'React',
    subtitle: 'Collection',
    href: 'https://github.com/catalinpetrovici24/React_Projects/tree/main/Medium%20Projects',
    description: `Researching, analysing data, and testing different solutions was part 
      of my work with amazing and skilled people to improve the platform's user interface 
      and user experience. Also, I worked closely with the mobile engineers to create a 
      Mobile Pattern Library to improve the quality of the mobile products and to save 
      time during implementation.`,
    logo: {
      svg: ReactLogo,
    },
    image: {
      alt: 'React Projects Showcase',
      scr: './React/React@1x.png',
      height: '408',
      width: '700',
      source: [
        {
          srcset:
            './React/React-mobile@2x.avif 2x, ./React/React-mobile@1x.avif',
          type: 'image/avif',
          media: '(max-width: 500px)',
        },
        {
          srcset:
            './React/React-mobile@2x.webp 2x, ./React/React-mobile@1x.webp',
          type: 'image/webp',
          media: '(max-width: 500px)',
        },
        {
          srcset: './React/React-mobile@2x.png 2x, ./React/React-mobile@1x.png',
          type: 'image/png',
          media: '(max-width: 500px)',
        },
        {
          srcset: './React/React@2x.avif 2x, ./React/React@1x.avif',
          type: 'image/avif',
          media: '',
        },
        {
          srcset: './React/React@2x.webp 2x, ./React/React@1x.webp',
          type: 'image/webp',
          media: '',
        },
        {
          srcset: './React/React@2x.png 2x',
          type: 'image/png',
          media: '',
        },
      ],
    },
  },
  //
  // NodeJS
  //
  {
    title: 'NodeJS',
    subtitle: 'Collection',
    href: 'https://github.com/catalinpetrovici24/NodeJS_Projects',
    description: `Researching, analysing data, and testing different solutions was part 
      of my work with amazing and skilled people to improve the platform's user interface 
      and user experience. Also, I worked closely with the mobile engineers to create a 
      Mobile Pattern Library to improve the quality of the mobile products and to save 
      time during implementation.`,
    logo: {
      svg: NodeJSLogo,
    },
    image: {
      alt: 'NodeJS Projects Showcase',
      scr: './NodeJS/NodeJS@1x.png',
      height: '408',
      width: '700',
      source: [
        // {
        //   srcset: './NodeJS/NodeJS-mobile@2x.avif 2x, ./NodeJS/NodeJS-mobile@1x.avif',
        //   type: 'image/avif',
        //   media: '(max-width: 500px)',
        // },
        // {
        //   srcset: './NodeJS/NodeJS-mobile@2x.webp 2x, ./NodeJS/NodeJS-mobile@1x.webp',
        //   type: 'image/webp',
        //   media: '(max-width: 500px)',
        // },
        // {
        //   srcset: './NodeJS/NodeJS-mobile@2x.png 2x, ./NodeJS/NodeJS-mobile@1x.png',
        //   type: 'image/png',
        //   media: '(max-width: 500px)',
        // },
        // {
        //   srcset: './NodeJS/NodeJS@2x.avif 2x, ./NodeJS/NodeJS@1x.avif',
        //   type: 'image/avif',
        //   media: '',
        // },
        // {
        //   srcset: './NodeJS/NodeJS@2x.webp 2x, ./NodeJS/NodeJS@1x.webp',
        //   type: 'image/webp',
        //   media: '',
        // },
        // {
        //   srcset: './NodeJS/NodeJS@2x.png 2x',
        //   type: 'image/png',
        //   media: '',
        // },
      ],
    },
  },
];
---

<section id='projects' class='mt-28'>
  <h2>Projects</h2>
  {
    projects.map((item) => {
      const { title, subtitle, href, description, logo, image } = item;
      return (
        <article class='project'>
          <div class='description'>
            <div class='project-heading'>
              <logo.svg />
              <div class='ml-8'>
                <span class='subtitle text-fontLightGray2 dark:text-fontDarkGray4'>
                  {subtitle}
                </span>
                <h3>{title}</h3>
              </div>
            </div>
            <p class='text-fontLightGray2 dark:text-fontDarkGray3'>
              {description}
            </p>
            <a href={href} class='hover:text-btnLight dark:hover:text-btnDark'>
              <svg
                width='20'
                height='20'
                viewBox='0 0 14 14'
                fill='none'
                xmlns='http://www.w3.org/2000/svg'
              >
                <path
                  d='M8 1L13 7M13 7L8 13M13 7H1'
                  stroke='currentColor'
                  stroke-width='2'
                  stroke-linecap='round'
                  stroke-linejoin='round'
                />
              </svg>
              View Project
            </a>
          </div>
          {image.source.length ? (
            <picture slot='image-showcase'>
              {image.source.map((imageItem) => {
                if (!imageItem) return;

                return (
                  <source
                    srcset={imageItem.srcset}
                    media={imageItem.media}
                    type={imageItem.type}
                  />
                );
              })}
              <img
                width={image.width}
                height={image.height}
                src={image.scr}
                alt={image.alt}
                loading='lazy'
              />
            </picture>
          ) : (
            ''
          )}
        </article>
      );
    })
  }
</section>

<style>
  h2 {
    font-size: clamp(2.5rem, 4vw, 3.5rem);
    font-weight: 600;
  }

  img {
    width: 100%;
    max-width: 70rem;
  }

  .logo {
    max-width: 5rem;
    max-height: 5rem;
  }

  .project {
    margin-top: 4rem;
  }

  h3 {
    font-size: clamp(2rem, 4vw, 2.4rem);
    font-weight: 600;
  }

  .project-heading {
    display: flex;
    align-items: flex-end;
  }

  .subtitle {
    font-size: clamp(1.4rem, 2.5vw, 1.8rem);
  }

  p {
    max-width: 75ch;
    margin-top: 2rem;
    font-size: clamp(1.4rem, 2.5vw, 2rem);
  }

  a {
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    display: flex;
    align-content: center;
    align-items: center;
    font-size: clamp(1.8rem, 2.5vw, 2rem);
    font-weight: 900;
    transition: all 200ms ease-in-out;
  }

  a svg {
    margin-right: 2rem;
  }

  @media only screen and (min-width: 1200px) {
    .project {
      display: flex;
      gap: 5rem;
      margin-top: 10rem;
    }

    .project:nth-child(odd) .description {
      order: 1;
    }
  }
</style>
